* {
    font-family: 'Arvo', serif;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    box-sizing: border-box;
}

.principal {
    width: 1400px;
    height: 100vh;
}

/* ESTILOS MENU NAVEGACION */

.menu-navegacion {
    background-color: rgba(59, 88, 118, .7);
    width: 1400px;
    text-decoration: none;
    list-style: none;

}

.menu-navegacion ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
}

.menu-navegacion ul li {
    display: inline-block;
    padding: 13px;
    font-size: 1.1em;
    color: white;
}

.menu-navegacion ul li:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
    color: rgb(150, 150, 150);
    cursor: pointer;
}

/* ESTILOS VIDEO CENTRAL */

#lluvia {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}
/* ESTILOS CONTENIDO CENTRAL */

.contenido {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 800px;
    justify-content: space-around;
    align-content: space-around;
}

.item-flex:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.item-flex {
    text-align: center;
    background-color: lightgray;
    width: 300px;
    height: 300px;   
    color: white;
    background-color: rgba(59, 88, 118, .7);
    box-shadow: 1px 1px 10px 5px black;
}

.texto {
    line-height: 50px;
}
.img-meteo {
    background-image: url(/imagenes_web/Meteorologia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.img-nav {
    background-image: url(/imagenes_web/Navegacion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.img-motores {
    background-image: url(/imagenes_web/Motores2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.img-aero {
    background-image: url(/imagenes_web/Aerodinamica.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.img-instrumentos {
    background-image: url(/imagenes_web/Instrumentox.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.img-performance {
    background-image: url(/imagenes_web/Performance.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.img-radioelectricos {
    background-image: url(/imagenes_web/s.radioelectricos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

.img-reglamentos {
    background-image: url(/imagenes_web/Reglamentos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 250px;
}

/* ESTILOS PIE DE PAGINA */

.pie-de-pagina {
    
    background-color: rgba(59, 88, 118, .7);
    width: 1400px;
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
}

/* --ESTILOS DE PAGINA CONTACTO -- */

.contenedor {
    height: 100vh;  
    width: 1400px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contacto2 {
    background-color: rgba(59, 88, 118, .7);
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 40px;
    padding:20px;
    border-radius: 7px;

}
.texto-contacto {
    font-size: 1.2em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    max-width: 100%;
}

.boton-form {
    background-color:rgb(59, 88, 118);
    color: white;
}
.boton-form:hover {
    cursor: pointer;
    background-color:rgb(85, 124, 167);
}
/* ------------------------------------- */